Web References/stdSvc/WsdlService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://service.api.ftms/" name="WsdlService" targetNamespace="http://service.api.ftms/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://service.api.ftms/" elementFormDefault="unqualified" targetNamespace="http://service.api.ftms/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="DISTB" type="tns:distb" />
      <xs:element name="DISTB_DETAIL" type="tns:distbDETAIL" />
      <xs:element name="DISTB_PIAW" type="tns:distbPIAW" />
      <xs:element name="DISTB_PROC" type="tns:DISTB_PROC" />
      <xs:element name="DISTB_PROCResponse" type="tns:DISTB_PROCResponse" />
      <xs:element name="DISTB_RCL" type="tns:distbRCL" />
      <xs:element name="DISTB_TGOW" type="tns:distbTGOW" />
      <xs:element name="FOOD_TGOW" type="tns:foodTGOW" />
      <xs:element name="PDT" type="tns:pdt" />
      <xs:element name="PDT_DETAIL" type="tns:pdtDETAIL" />
      <xs:element name="PDT_LOT" type="tns:pdtLOT" />
      <xs:element name="PDT_LOT_ORM_INFO" type="tns:pdtLOTORMINFO" />
      <xs:element name="PDT_PROC" type="tns:PDT_PROC" />
      <xs:element name="PDT_PROCResponse" type="tns:PDT_PROCResponse" />
      <xs:element name="RESULT" type="tns:result" />
      <xs:element name="RESULT_DETAIL" type="tns:resultDETAIL" />
      <xs:element name="SALE" type="tns:sale" />
      <xs:element name="SALE_DETAIL" type="tns:saleDETAIL" />
      <xs:element name="SALE_PROC" type="tns:SALE_PROC" />
      <xs:element name="SALE_PROCResponse" type="tns:SALE_PROCResponse" />
      <xs:element name="SALE_TGOW" type="tns:saleTGOW" />
      <xs:complexType name="DISTB_PROC">
        <xs:sequence>
          <xs:element minOccurs="0" name="DISTB" type="tns:distb" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="distb">
        <xs:sequence>
          <xs:element minOccurs="0" name="API_KEY" type="xs:string" />
          <xs:element minOccurs="0" name="DISTB_DETAIL" type="tns:distbDETAIL" />
          <xs:element minOccurs="0" name="RESULT_DETAIL" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="distbDETAIL">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="DISTB_PIAW" type="tns:distbPIAW" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="DISTB_RCL" type="tns:distbRCL" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="DISTB_TGOW" type="tns:distbTGOW" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="distbPIAW">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:pkgComVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="CUST_ADDR" type="xs:string" />
              <xs:element minOccurs="0" name="CUST_DV" type="xs:string" />
              <xs:element minOccurs="0" name="CUST_LCNS_NO" type="xs:string" />
              <xs:element minOccurs="0" name="CUST_NM" type="xs:string" />
              <xs:element minOccurs="0" name="FOOD_HISTRACE_NUM" type="xs:string" />
              <xs:element minOccurs="0" name="PIAW_DT" type="xs:string" />
              <xs:element minOccurs="0" name="PROD_QTY" type="xs:decimal" />
              <xs:element minOccurs="0" name="REMARK" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_1" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_2" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_3" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="pkgComVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ROW_ID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="distbRCL">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:pkgComVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="FOOD_HISTRACE_NUM" type="xs:string" />
              <xs:element minOccurs="0" name="QTY" type="xs:decimal" />
              <xs:element minOccurs="0" name="TEMP_1" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_2" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_3" type="xs:string" />
              <xs:element minOccurs="0" name="TGOW_DT" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="distbTGOW">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:pkgComVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="CUST_LCNS_NO" type="xs:string" />
              <xs:element minOccurs="0" name="FOOD_HISTRACE_NUM" type="xs:string" />
              <xs:element minOccurs="0" name="QTY" type="xs:decimal" />
              <xs:element minOccurs="0" name="REG_NUM" type="xs:string" />
              <xs:element minOccurs="0" name="REMARK" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_1" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_2" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_3" type="xs:string" />
              <xs:element minOccurs="0" name="TGOW_DT" type="xs:string" />
              <xs:element minOccurs="0" name="TGOW_UNT" type="xs:string" />
              <xs:element minOccurs="0" name="TO_PST_ADDR" type="xs:string" />
              <xs:element minOccurs="0" name="TO_PST_CD" type="xs:string" />
              <xs:element minOccurs="0" name="TO_PST_NM" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DISTB_PROCResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:result" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="result">
        <xs:sequence>
          <xs:element minOccurs="0" name="RESULT_CODE" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RESULT_DETAIL" type="tns:resultDETAIL" />
          <xs:element minOccurs="0" name="RESULT_MSG" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resultDETAIL">
        <xs:sequence>
          <xs:element minOccurs="0" name="COLUMN" type="xs:string" />
          <xs:element minOccurs="0" name="ERR_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="ERR_MSG" type="xs:string" />
          <xs:element minOccurs="0" name="ERR_VAL" type="xs:string" />
          <xs:element minOccurs="0" name="ROW_ID" type="xs:string" />
          <xs:element minOccurs="0" name="WS_FG" type="xs:string" />
          <xs:element minOccurs="0" name="WS_DEQ" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SALE_PROC">
        <xs:sequence>
          <xs:element minOccurs="0" name="SALE" type="tns:sale" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sale">
        <xs:sequence>
          <xs:element minOccurs="0" name="API_KEY" type="xs:string" />
          <xs:element minOccurs="0" name="RESULT_DETAIL" type="xs:string" />
          <xs:element minOccurs="0" name="SALE_DETAIL" type="tns:saleDETAIL" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saleDETAIL">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SALE_PIAW" type="tns:salePIAW" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SALE_TGOW" type="tns:saleTGOW" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="salePIAW">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:pkgComVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="FOOD_HISTRACE_NUM" type="xs:string" />
              <xs:element minOccurs="0" name="FROM_LCNS_NO" type="xs:string" />
              <xs:element minOccurs="0" name="PIAW_DT" type="xs:string" />
              <xs:element minOccurs="0" name="PROD_QTY" type="xs:decimal" />
              <xs:element minOccurs="0" name="REMARK" type="xs:string" />
              <xs:element minOccurs="0" name="SALE_DV" type="xs:string" />
              <xs:element minOccurs="0" name="SALE_NM" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_1" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_2" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_3" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="saleTGOW">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:pkgComVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="PDT_BARCD" type="xs:string" />
              <xs:element minOccurs="0" name="PDT_NM" type="xs:string" />
              <xs:element minOccurs="0" name="PROD_QTY" type="xs:string" />
              <xs:element minOccurs="0" name="REMARK" type="xs:string" />
              <xs:element minOccurs="0" name="SALE_DV" type="xs:string" />
              <xs:element minOccurs="0" name="SALE_NM" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_1" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_2" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_3" type="xs:string" />
              <xs:element minOccurs="0" name="TGOW_DT" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="SALE_PROCResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:result" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PDT_PROC">
        <xs:sequence>
          <xs:element minOccurs="0" name="PDT" type="tns:pdt" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pdt">
        <xs:sequence>
          <xs:element minOccurs="0" name="API_KEY" type="xs:string" />
          <xs:element minOccurs="0" name="PDT_DETAIL" type="tns:pdtDETAIL" />
          <xs:element minOccurs="0" name="RESULT_DETAIL" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pdtDETAIL">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="FOOD_TGOW" type="tns:foodTGOW" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ORM_INFO" type="tns:pdtLOTORMINFO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="PDT_LOT" type="tns:pdtLOT" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="foodTGOW">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:pkgComVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="FOOD_HISTRACE_NUM" type="xs:string" />
              <xs:element minOccurs="0" name="QTY" type="xs:decimal" />
              <xs:element minOccurs="0" name="REG_NUM" type="xs:string" />
              <xs:element minOccurs="0" name="REMARK" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_1" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_2" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_3" type="xs:string" />
              <xs:element minOccurs="0" name="TGOW_DT" type="xs:string" />
              <xs:element minOccurs="0" name="TGOW_UNT" type="xs:string" />
              <xs:element minOccurs="0" name="TO_PST_ADDR" type="xs:string" />
              <xs:element minOccurs="0" name="TO_PST_CD" type="xs:string" />
              <xs:element minOccurs="0" name="TO_PST_LCNS_NO" type="xs:string" />
              <xs:element minOccurs="0" name="TO_PST_NM" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="pdtLOTORMINFO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:pkgComVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="FOOD_HISTRACE_NUM" type="xs:string" />
              <xs:element minOccurs="0" name="GMO_YN" type="xs:string" />
              <xs:element minOccurs="0" name="ORM_NM" type="xs:string" />
              <xs:element minOccurs="0" name="ORM_NM_ENG" type="xs:string" />
              <xs:element minOccurs="0" name="ORM_STD_CD" type="xs:string" />
              <xs:element minOccurs="0" name="PRV_NATN_CD" type="xs:string" />
              <xs:element minOccurs="0" name="REG_NUM" type="xs:string" />
              <xs:element minOccurs="0" name="REMARK" type="xs:string" />
              <xs:element minOccurs="0" name="SUP_BUSINESS_REG_NO" type="xs:string" />
              <xs:element minOccurs="0" name="SUP_PSN" type="xs:string" />
              <xs:element minOccurs="0" name="SUP_PSN_ADDR1" type="xs:string" />
              <xs:element minOccurs="0" name="SUP_PSN_ADDR2" type="xs:string" />
              <xs:element minOccurs="0" name="SUP_PSN_ZIPC" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_1" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_2" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_3" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="pdtLOT">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:pkgComVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="CRCL_PRD" type="xs:string" />
              <xs:element minOccurs="0" name="CRCL_PRD_DAY" type="xs:string" />
              <xs:element minOccurs="0" name="FOOD_HISTRACE_NUM" type="xs:string" />
              <xs:element minOccurs="0" name="GMO_YN" type="xs:string" />
              <xs:element minOccurs="0" name="IMCM_YN" type="xs:string" />
              <xs:element minOccurs="0" name="INCM_DECL_NUM" type="xs:string" />
              <xs:element minOccurs="0" name="INCM_DECL_OGN" type="xs:string" />
              <xs:element minOccurs="0" name="LOT_NUM" type="xs:string" />
              <xs:element minOccurs="0" name="MNFT_DAY" type="xs:string" />
              <xs:element minOccurs="0" name="MNFT_FACT" type="xs:string" />
              <xs:element minOccurs="0" name="MNFT_FACT_ADDR" type="xs:string" />
              <xs:element minOccurs="0" name="MNFT_PRV" type="xs:string" />
              <xs:element minOccurs="0" name="PIAW_DT" type="xs:string" />
              <xs:element minOccurs="0" name="PROD_QTY" type="xs:string" />
              <xs:element minOccurs="0" name="PROD_QTY_UNT" type="xs:string" />
              <xs:element minOccurs="0" name="REG_NUM" type="xs:string" />
              <xs:element minOccurs="0" name="REMARK" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_1" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_2" type="xs:string" />
              <xs:element minOccurs="0" name="TEMP_3" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PDT_PROCResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:result" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="DISTB_PROCResponse">
    <wsdl:part name="parameters" element="ns1:DISTB_PROCResponse" />
  </wsdl:message>
  <wsdl:message name="PDT_PROC">
    <wsdl:part name="parameters" element="ns1:PDT_PROC" />
  </wsdl:message>
  <wsdl:message name="SALE_PROC">
    <wsdl:part name="parameters" element="ns1:SALE_PROC" />
  </wsdl:message>
  <wsdl:message name="SALE_PROCResponse">
    <wsdl:part name="parameters" element="ns1:SALE_PROCResponse" />
  </wsdl:message>
  <wsdl:message name="DISTB_PROC">
    <wsdl:part name="parameters" element="ns1:DISTB_PROC" />
  </wsdl:message>
  <wsdl:message name="PDT_PROCResponse">
    <wsdl:part name="parameters" element="ns1:PDT_PROCResponse" />
  </wsdl:message>
  <wsdl:portType name="WsdlService">
    <wsdl:operation name="DISTB_PROC">
      <wsdl:input name="DISTB_PROC" message="ns1:DISTB_PROC" />
      <wsdl:output name="DISTB_PROCResponse" message="ns1:DISTB_PROCResponse" />
    </wsdl:operation>
    <wsdl:operation name="SALE_PROC">
      <wsdl:input name="SALE_PROC" message="ns1:SALE_PROC" />
      <wsdl:output name="SALE_PROCResponse" message="ns1:SALE_PROCResponse" />
    </wsdl:operation>
    <wsdl:operation name="PDT_PROC">
      <wsdl:input name="PDT_PROC" message="ns1:PDT_PROC" />
      <wsdl:output name="PDT_PROCResponse" message="ns1:PDT_PROCResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>